<div>
  <h1> My First Angular Demo Project...!</h1>
</div>
<hr>
<div>
  <input type="button" value="Click Me" style="width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: blue;  
  border: 1px solid darkblue;" />
</div>
<hr>
<div>
  <input type="button" class="MyButtonCss" value="Click Me 1"/>
  <input type="button" class="MyButtonCss" value="Click Me 2"/>
  <input type="button" class="MyButtonCss" value="Click Me 3"/> 
</div>
<hr>
<div>
  <input type="button" class="btn btn-primary" value="Click Me 1"/>
  <input type="button" class="btn btn-danger" value="Click Me 2"/>
  <input type="button" class="btn btn-warning" value="Click Me 3"/>
  <input type="button" class="btn btn-success" value="Click Me 4"/>
  <input type="button" class="btn btn-info" value="Click Me 5"/>
</div>
<hr>
<div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">Enter your name</div>
    <div class="col-sm-3">
      <input type="text" class="form-control"/>
    </div>
    <div class="col-sm-3"></div>
  </div>  
</div>
<hr>
<div>
  <input type="button" class="btn btn-primary" value="Click Me 1"/>
  <input type="button" class="btn btn-danger" value="Click Me 2"/>
  <input type="button" class="btn btn-warning" value="Click Me 3"/>
  <input type="button" class="btn btn-success" value="Click Me 4"/>
  <input type="button" class="btn btn-info" value="Click Me 5"/>
</div>
<hr>
<div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">Enter your name</div>
    <div class="col-sm-3">
      <input type="text" class="form-control"/>
    </div>
    <div class="col-sm-3"></div>
  </div>  
</div>